{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <title>game</title>
</head>
<body>
    <div class="container">
        <div class="form">
        <div class="block">
                <tr>
                    <td>Category</td>
                </tr>
                </div>
                <div class="game">Game</div>
                <div class="menu1">
                    <ul>
                        <div class="n1"><li><a href="math.html"><img src="{% static 'image/math.png' %}"/></a></li></div>
                        <div class="n2"><li><a href="socialstudy.html"><img src="{% static 'image/social.png' %}"/></a></li></div>
                        <div class="n3"><li><a href="science.html"><img src="{% static 'image/science.png' %}"/></a></li></div>
                        <div class="n4"><li><a href="kinyarwanda.html"><img src="{% static 'image/kinyarwanda.png' %}"/></a></li></div>
                        <div class="n5"><li><a href="french.html"><img src="{% static 'image/french.png' %}"/></a></li></div>
                <li class="n6"><li><a href="english.html"><img src="{% static 'image/english.png' %}"/></a></li></div>
              </ul>
            </div>
        </div>
    </div>
</body>
</html>